<div class="container-fluid">
  <div
    class="row d-flex justify-content-center"
    style="background-color: lightcoral"
  >
    <h4>Zomato Search</h4>
  </div>
  <div class="row d-flex justify-content-center">
    <input
      type="text"
      class="form-control"
      placeholder="Search for location..."
      (click)="searchBoxClicked()"
      [(ngModel)]="location"
    />
    <div>
      <button class="btn btn-primary" (click)="searchCooks()">
        Search for cooks
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
